<% include ../header.ejs %>
        <div class="row">
            <div class="col-md-12">
                <div class="box box">
                    <div class="box-header with-border">
                        <h3 class="box-title">修改密码</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal col-sm-6" method="post">
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">原密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="原密码" value="<%-params.password%>">
                                    <%if(errors && errors.password){%><span class="input-err"> <%=errors.password%> </span><%}%>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newpassword" class="col-sm-2 control-label">新密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="新密码" value="<%-params.newpassword%>">
                                    <%if(errors && errors.newpassword){%><span class="input-err"> <%=errors.newpassword%> </span><%}%>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="repeat_newpassword" class="col-sm-2 control-label">重复新密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="repeat_newpassword" name="repeat_newpassword" placeholder="重复新密码" value="<%-params.repeat_newpassword%>">
                                    <%if(errors && errors.repeat_newpassword){%><span class="input-err"> <%=errors.repeat_newpassword%> </span><%}%>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">提 交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<% include ../footer.ejs %>